<head>
  <base href="" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"
    rel="stylesheet"
  />

  <style>
      body {
        background-color: hsl(0, 0%, 86%);
      }
  </style>
</head>
<body>
  <div class="section is ">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="box">
            <h1 class="subtitle">Location You Were At: {{locationName}}</h1>
            <h3 class="is-subtitle is3">Does you remember any additional contacts at this location?</h3>
          </div>
          <div class="box">
            <iframe
                width="100%"
                height="375px"
                frameborder="0" style="border:0"
                src={{trustUrl(panoPath)}} allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="subtitle">Enter People You Came In Contact With:</h1>
          </div>
          <div class="box">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" ng-model="contactName"/>
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" ng-model="contactEmail"/>
              </div>
            </div>

            <button class="button is-info" ng-click="update(contactEmail)">Submit</button>
            <button class="button is-info" ng-click="finished()">Finish Questionnaire</button>
        </div>
        <div class="notifcation is-success" ng-show="isSubmitted">Contact successfully submitted?</div>
      </div>
    </div>
  </div>
</body>
