<div>
  <section class="hero has-background-info is-small">
    <div class="hero-body">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <figure class="image">
              <img src="whiteTransparent.png" alt="virus logo" style="width:75px; length:47.8125px; float:left"/>
            </figure>
            <h4 class="subtitle is-4 has-text-white">
              EpTracker
            </h4>  
          </div>
          <div class="level-right">
            <h1 class="title has-text-white">
              Questionnaire
            </h1>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <sesction>
    <br />
    <div class="container  has-text-centered">
      <div class="notification box">
        <h6>
          Have you been diagnosed with the Coronovirus?
        </h6>
      </div>
    </div>
  </sesction>
  <section>
    <div class="container  has-text-centered">
      <div class="section">
        <div class="buttons is-centered">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" ng-click="nextPage('howlong')">
                Yes
              </button>
            </div>
            <div class="control">
              <button
                class="button is-link"
                ng-click="nextPage('showingsymptoms')"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons is-centered">
      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-link is-light"
            ng-click="nextPage('infopage')"
          >
            Go Back
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
