<head>
  <link
    href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
  />
  <!-- <base href="/" /> -->
  <style>
    /* .modal {
      z-index: 10;
      position: absolute;
      top: 50px;
      display: none;
    }

    .modal-content {
      box-shadow: 0 0 10px #999;
    }

    body {
      position: relative;
    } */
    .navbar-item {
      max-height: 100px;
    }
    .navbar {
      border-bottom: 2px solid #1ba0c1;
    }
  </style>
</head>
<body style="background-color: hsl(0, 0%, 96%)">
  <section class="hero has-background-info">
    <div class="hero-body">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <figure class="image">
              <img
                src="whiteTransparent.png"
                alt="virus logo"
                style="width:75px; length:47.8125px; float:left"
              />
            </figure>
            <h4 class="subtitle is-4 has-text-white">
              EpTracker
            </h4>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <div class="section">
    <div class="container">
      <div class="box">
        <div class="field has-addons">
          <div class="control">
            <input
              class="input is-fullwidth"
              type="text"
              placeholder="Patient Query..."
            />
          </div>
          <div class="control">
            <a class="button is-link">Search</a>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-full">
          <div class="box">
            <table class="table is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>
                    Patient ID
                  </th>
                  <th>
                    Last Name
                  </th>
                  <th>
                    First Name
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    Degree of Seperation
                  </th>
                  <th>
                    Risk Level
                  </th>
                  <th>
                    Find Out More
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="patient in patients">
                  <td>
                    {{patient.id}}
                  </td>
                  <td>
                    {{patient.lastname}}
                  </td>
                  <td>
                    {{patient.firstname}}
                  </td>
                  <td>
                    {{patient.country}}
                  </td>
                  <td>
                    {{patient.degofsep}}
                  </td>
                  <td>
                    <span
                      class="tag"
                      ng-class="patient.degofsep == 0 ? 'is-danger':'is-warning'"
                      >{{patient.degofsep == 0 ? 'Infected' : 'Possible
                      Risk'}}</span
                    >
                  </td>
                  <td>
                    <button class="button" ng-click="viewPatient(patient.id)">
                      More Info
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
