<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="box">
          <h3 class="subtitle is-3">Who are you?</h3>
        </div>
        <div class="columns">
          <div class="column">
            <button
              class="button is-large is-fullwidth is-success is-outlined"
              ng-click="goToQuestionnaire()"
            >
              A Patient
            </button>
          </div>
          <div class="column">
            <button
              class="button is-large is-fullwidth is-success is-outlined"
              ng-click="goToDashboard()"
            >
              Medical Staff
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
