    <div>
      <section class="hero has-background-info is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="has-text-white title has-text-centered">
            Questionnaire 
            </h1>
          </div>
          <div class="container">
          <br>
            <p class="has-text-white has-text-centered">
            Welcome to the Coronavirus Questionnaire. Please answer these questions to help track the current spread and 
            prevent further spread of the virus.
            </p>
          </div>
        </div>
      </section>
    <br>
    <section>
      <div class="container  has-text-centered">
        <div class="notification">
          <h6> 
          Name?
          </h6>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns"> 
          <div class="column"> 
            <div class="field">
              <div class="control">
                <h7>Last Name</h7>
                <input class="input" type="Last Name" placeholder="e.g. Doan">
                  <br>
                  <br>
              </div>
            </div>
          </div>
          <div class="column"> 
            <div class="field">
              <div class="control">
                <h7>First Name</h7>
                <input class="input" type="First Name" placeholder="e.g. John">
                  <br>
                  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
    <section>
      <div class="container  has-text-centered">
        <div class="notification">
          <h6> 
          Sex?
          </h6>
        </div>
      </div>
  </section>
  <section>
    <div class="container  has-text-centered">
      <div class="section">
        <label class="radio">
          <input type="radio" name="answer">
          Male
        </label>
        <label class="radio">
          <input type="radio" name="answer">
          Female
        </label>
      </div>
  </section>
  <section>
    <br>
    <div class="container">
      <div class="notification">
        <h6 class="has-text-centered">
          Age? 
        </h6>
      </div>
    </div>
  </section>
  <section class="selection">
    <div class="container has-text-centered">
      <div class="section">
        <form>
          <label for="days"></label>
          <input type="number" min="0" max="99" id="days" name="days" style="width: 3em; font-size: 18px;">
          Years
        </form>
      </div>
  </section> 
  <section>
    <div class="container  has-text-centered">
      <div class="notification">
        <h6> 
          Address? 
          </h6>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> Street Address </h7>
              <input class="input" type="text" placeholder="e.g. 1234 UMSL Lane">
              <br>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> City </h7>
              <input class="input" type="text" placeholder="e.g. St. Louis">
              <br> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> State/Province </h7>
              <input class="input" type="text" placeholder="e.g. Missouri">
              <br>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> Zip Code </h7>
              <input class="input" type="number" placeholder="e.g. 63031">
              <br> 
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> Country </h7>
              <input class="input" type="text" placeholder="e.g. USA">
              <br> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section>
    <div class="container  has-text-centered">
      <div class="notification">
        <h6> 
          Contact Information 
        </h6>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> Phone </h7>
              <input class="input" type="number" placeholder="e.g. 3141234567">
              <br>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <h7> Email </h7>
              <input class="input" type="email" placeholder="e.g umsl@blank.org">
              <br> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section class="section"> 
    <div class="buttons is-centered"> 
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Continue</button>
        </div>
        
      </div>
    </div>
  </section>
</div>
