  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero has-background-info is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="has-text-white title has-text-centered">
            Questionnaire 
          </h1>
        </div>
        <div class="container">
          <p class="has-text-white has-text-centered">
            Welcome to the Coronavirus Questionnaire. Please answer these questions to help track the current spread and 
            prevent further spread of the virus.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <form class="box has-background-grey-lighter has-text-centered">
              Login
              </form>
            </div>
          </div>
        </div>
      </div> 
    </section>
  </body>
</html>
