<html>
  <head>
    <base href="" />
    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="docs/images/favicon.ico"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />

    <style>
      #mapid {
        height: 400px;
      }
      .section {
        padding: 15px 0 0 0;
      }
    </style>
  </head>
  <body style="background-color: #f7f7f7;">
    <section class="hero has-background-info is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered has-text-white">
            Location history
          </h1>

          <p class="has-text-centered has-text-white">
            Select the places that you have been:
          </p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="box" ng-hide="showMap">
          <h2 class="subtitle is-2">
            Redirecting to Dallas Love Field Airport...
          </h2>
        </div>
        <div class="box" ng-hide="!showMap">
          <div id="mapid"></div>
        </div>
      </div>
    </section>
  </body>
</html>
