<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>
  <body>
    <section class="hero has-background-info is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered">
            Questionnaire 
          </h1>
        </div>
      </div>
    </section>
  <section class="section"> 
    <div class="container"> 
      <table class="table is-hoverable is-fullwidth">
      <thead>
      <tr>
      <th class="is-narrow">
      <input type="checkbox">
      </th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Country</th>
      <th>Zip Code</th>
      <th>Degree of Relationship</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
      <th class="is-narrow">
      <input type="checkbox">
      </th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Country</th>
      <th>Zip Code</th>
      <th>Degree of Relationship</th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
      <td>
      <input type="checkbox">
      </td>
      <td>
      <a href="edit-customer.html">
      <strong>John Miller</strong>
      </a>
      </td>
      <td><code>johnmiller@gmail.com</code></td>
      <td>United States</td>
      <td>
      <a href="customer-orders.html">2</a>
      </td>
      <td>
      <div class="buttons">
      </div>
      </td>
      </tr>
      </tbody>
      </table>
    </div>
  </section>
  </body>
</html>


